@{
    ViewData["Title"] = "Home Page";
}

<section id="main">
    <div class="container">
        <div class="row main_header">
            <h1><span>Ми здатні позбавити вас </span><br><span>зайвих клопотів та</span><br><span>непотрібної біганини кабінетами</span></h1>
        </div>
        <div class="row">
            <h3>Оформлення відпустки з будь-якої точки планети</h3>
        </div>
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="row main_button">
                <button data-toggle="modal" onclick="window.location.href='@Url.Action("Register", "Account")';">Зареєструватися</button>
            </div>
        }
    </div>
</section>
